/* Font-family: 'AvenirBlack' */
/*@font-face {
	font-family: "Avenir";
	src: url("../fonts/AvenirBlack/AvenirBlack.eot");
	src: url("../fonts/AvenirBlack/AvenirBlack.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/AvenirBlack/AvenirBlack.woff") format("woff"),
			 url("../fonts/AvenirBlack/AvenirBlack.ttf") format("truetype");
	font-style: normal;
	font-weight: 900;
}*/

/* Font-family: 'ProximaNovaBlack' */
/*@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot");
	src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/ProximaNovaBlack/ProximaNovaBlack.woff") format("woff"),
			 url("../fonts/ProximaNovaBlack/ProximaNovaBlack.ttf") format("truetype");
	font-style: normal;
	font-weight: 900;
}*/

/* Font-family: 'ProximaNovaBold' */
/*@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
	src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
			 url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}*/

/* Font-family: 'ProximaNovaLight' */
/*@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/ProximaNovaLight/ProximaNovaLight.eot");
	src: url("../fonts/ProximaNovaLight/ProximaNovaLight.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/ProximaNovaLight/ProximaNovaLight.woff") format("woff"),
			 url("../fonts/ProximaNovaLight/ProximaNovaLight.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}*/

/* Font-family: 'ProximaNovaRegular' */
/*@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
	src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
			 url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}*/