/* Common styles */

*, *::before, *::after {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

body {
	font-family: Montserrat, serif;
	font-weight: 300;
	line-height: 1.75;
	position: relative;
	overflow-x: hidden;
}

.flex {
	display: flex;
}

.btn {
	display: inline-block;
	width: 170px;
	height: 53px;
	border-radius: 3px;
	background-color: #998675;
	border-bottom: 3px solid #726255;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	font-family: Raleway;
	font-size: 14px;
	font-weight: 700;
	line-height: 53px;
	transition: 0.3s;
}

.btn:hover {
	background-color: #ffffff;
	color: #7E6B5A;
	border-bottom-color: #ffffff;
}

header, section, footer {
	background-size: cover;
	background-position: center;
}

a {
	color: inherit;
	text-decoration: none;
}

.owl-nav {
	height: 0;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

.read-more-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 4px 6px 4px;
	border-color: transparent transparent #c7b299 transparent;
	transform: rotate(90deg);
	display: inline-block;	
	margin-left: 7px;
	margin-bottom: 2px;
}

/* Header */

.header {
	height: 100vh;
	color: #ffffff;
	position: relative;
	overflow-y: hidden;
	overflow-x: hidden;
}

.header-top {
	display: flex;
	justify-content: space-between;
	width: 1170px;
	padding: 30px 0;
	align-items: center;
	position: absolute;
	z-index: 2;
	left: 50%;
	margin-left: -585px;
	overflow-x: hidden;
}

.hamburger {
	display: none;
	z-index: 3;
	transition: .3s;
}

.hamburger:hover {
	opacity: 1;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	background-color: #fff;
}

.hamburger.is-hidden {
	display: none;
}

.header-logo {
	margin-right: 135px;
	display: flex;
}

.header-logo.is-hidden {
	position: relative;
	left: -10000px;
}

.logo {
	width: 64px;
	height: 56px;
	display: inline-block;
	margin-right: 2px;
	background-size: cover;
}

.waxom {
	font-family: Raleway;
  font-size: 34px;
	font-weight: 400;
	display: inline-block;
}

.header-nav.is-hidden {
	position: relative;
	left: -10000px;
}

.header-nav li {
	display: inline-block;
	margin-right: 20px;
}

.header-nav a {
	font-size: 14px;
	text-decoration: none;
	transition: 0.25s;
	padding: 5px;
}

.header-nav li.active a, .header-nav a:hover {
	color: #c7b29a;
}

.header-search {
	width: 100%;
	height: 100%;
}

.header-icons {
	font-size: 21px;
}

.header-icons.is-hidden {
	position: relative;
	left: -10000px;
}

.header-icons a {
	transition: 0.25s;
	padding: 5px;
}

.header-icons a:first-child {
	margin-right: 18px;
}

.header-icons a:hover {
	color: #c7b29a;
}

.header-search-form {
	width: 100%;
	display: none;
	position: absolute;
	top: 41px;
	left: 0;
}

.header-search-form.is-active {
	display: flex;
}

.header-search {
	background-color: transparent;
	border: none;
	outline: none;
	color: #fff;
	font-size: 32px;
	font-family: 'Raleway';
}

.header-search::-webkit-input-placeholder {
	color: #fff;
	font-family: 'Raleway';
}

.header-search::-moz-placeholder {
	color: #fff;
	font-family: 'Raleway';
}

.header-close-form {
	font-size: 21px;
	margin-right: 59px;
}

.header-carousel {
	position: absolute !important;
	top: 0;
	display: flex !important;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.owl-stage-outer {
	margin: auto;
}

.header-composition-wrapper {
	height: 100vh;
	width: 100vw;
	display: flex;
	background-size: cover;
	background-position: center;
}

.header-composition {
	text-align: center;
	margin: auto;
	font-size: 10px;
}

.header-composition .title {
	font-family: Raleway;
	font-size: 3.6em;
	font-weight: 500;
}

.header-composition h1 {
	font-family: Raleway;
	font-size: 5.2em;
	font-weight: 700;
	margin-bottom: 19px;
}

.header-composition .description {
	font-size: 1.6em;
	margin-bottom: 52px;
}

.header-carousel .owl-nav {
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: -35px;
}

.header-carousel .owl-nav > * {
	width: 50px;
	height: 50px;
	box-shadow: -2px 2px 0 #fff;
	outline: none;
	transition: 0.3s;
	position: absolute;
}

.header-carousel .owl-prev {
	transform: rotate(45deg);
	left: 200px;
}

.header-carousel .owl-prev:active {
	transform: rotate(45deg) scale(1.1);
}

.header-carousel .owl-next {
	transform: rotate(-135deg);
	right: 200px;
}

.header-carousel .owl-next:active {
	transform: rotate(-135deg) scale(1.1);
}

.header-carousel .owl-nav .disabled {
	box-shadow: -2px 2px 0 rgba(255, 255, 255, .5);
}

.header-carousel .owl-dots {
	position: absolute;
	left: 50%;
	margin-left: -55px;
	bottom: 23px;
}

.header-carousel .owl-dot {
	outline: none;
	margin-right: 10px;
	width: 15px;
	height: 15px;
}

.header-carousel .owl-dot span {
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background-color: #ffffff;
	opacity: 0.65;
	display: inline-block;
	transition: 0.3s;
}

.header-carousel .owl-dot.active span {
	width: 15px;
	height: 15px;
	border: solid 2px #d3c1ad;
	background-color: transparent;
	opacity: 1;
	margin-bottom: -2px;
}

#my-menu {
	color: #000;
	background-color: #fff;
}

.mm-menu .mm-listitem_selected>a:not(.mm-btn_next), .mm-menu .mm-listitem_selected>span {
	color: #ccaa82;
	background-color: #f1f1f1;
}

.mm-menu .mm-listview a:not(.mm-btn_next):active {
	color: #ccaa82;
	background-color: #f1f1f1;
}

.mm-listitem:after {
  border-bottom-color: #e2e2e2;
}

.mm-listitem>a, .mm-listitem>span {
  padding: 13px 10px 13px 20px;
  font-weight: 500;
}

/* S-skills */

.s-skills {
	color: #555555;
	text-align: center;
}

.skills {
	display: flex;
	width: 1170px;
	margin: 0 auto;
	justify-content: space-between;
	padding: 80px 0 113px;
}

.skill {
	width: 266px;
	position: relative;
	cursor: pointer;
}

.skill::after {
	content: "";
	display: block;
	position: absolute;
	background-color: #f1eee9;
	width: 70px;
	height: 3px;
	left: 50%;
	margin-left: -35px;
	margin-top: 30px;
	transition: 0.3s;
}

.skill:hover i, .skill:hover .skill-title {
	color: #c7b299;
	transition: 0.3s;
}

.skill:hover::after {
	background-color: #c7b299;
}

.skill-title {
	font-family: Raleway;
	font-size: 22px;
	font-weight: 600;
	margin: 19px 0;
}

.skill-description {
	color: #8c8c8c;
	font-size: 14px;
}

.skill i {
	font-size: 35px;
}

/* S-realization */

.s-realization {
	text-align: center;
	position: relative;
	background-color: #fbfaf8;
	padding-top: 83px;
}

.realization-title {
	font-family: Raleway;
	color: #555555;
	font-size: 30px;
	font-weight: 600;
}

.realization-description {
	color: #8c8c8c;
	margin: 24px auto 40px;
	width: 843px;
}

.realization-images {
	margin: 0 auto;
	width: 1175px;
}

.realization-image {
	width: 770px;
	display: inline-block;
	position: absolute;
}

.realization-image img {
	width: 100%;
	margin-bottom: -9px;
}

.realization-image-center {
	z-index: 2;
	position: relative;
}

.realization-image-left, .realization-image-right {
	z-index: 1;
	bottom: 0;
}

.realization-image-left {
	left: 0;
}

.realization-image-right {
	right: 0;
}

/* S-buy-theme */

.s-buy-theme {
	background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
	padding: 48px 0;
}

.buy-theme-wrapper {
	display: flex;
	width: 1170px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}

.purchase-text h3 {
	font-family: Raleway;
	color: #ffffff;
	font-size: 28px;
	font-weight: 400;
	text-align: center;
}

.purchase-text h3 span {
	color: #c7b299;
}

.purchase-text p {
	color: #615855;
	font-size: 18px;
}

/* S-portfolio */

.s-portfolio {
	display: flex;
	background-color: #fcfcfc;
	flex-direction: column;
	align-items: center;
	padding: 83px 0;
}

.portfolio-title {
	font-family: Raleway;
	color: #555555;
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 14px;
}

.portfolio-description {
	color: #8c8c8c;
	text-align: center;
	width: 843px;
}

.portfolio-categories {
	display: inline-block;
	margin: 40px auto;
	margin-top: 30px;
	text-align: center;
}

.portfolio-categories li {
	display: inline-block;
	margin-right: 10px;
}

.portfolio-categories li button {
	display: inline-block;
	border-radius: 3px;
	border: 1px solid #ebebeb;
	color: #8c8c8c;
	text-align: center;
	font-size: 14px;
	padding: 0 18px;
	height: 32px;
	line-height: 32px;
	transition: 0.3s;
	background-color: transparent;
	cursor: pointer;
	outline: none;
}

.portfolio-categories li button:hover {
	color: #ffffff;
	background-color: #998675;
	border-color: #998675;
}

.portfolio-projects {
	display: flex;
	width: 1230px;
	flex-wrap: wrap;
	padding-left: 30px;
}

.portfolio-project {
	width: 30%;
	margin-right: 30px;
	margin-bottom: 30px;
	position: relative;
	transition: 0.3s background-color;
	padding-bottom: 27px;
	cursor: pointer;
}

.portfolio-project:hover {
	background-color: #362f2d;
}

.portfolio-project:hover .portfolio-project-title {
	color: #ffffff;
}

.portfolio-project:hover .portfolio-project-categories {
	color: #c7b299;
}

.portfolio-project:hover .portfolio-project-image, .post:hover .post-image {
	transform: scale(1.1);
}

.portfolio-project:hover .portfolio-project-image::after, .post:hover .post-image::after {
	opacity: 0.54;
}

.portfolio-project:hover .portfolio-project-icon {
	opacity: 1;
}

.portfolio-project:hover .portfolio-project-title::before {
	border-color: transparent transparent #362f2d transparent;
}

.portfolio-project-image-wrapper, .post-image-wrapper {
	overflow: hidden;
	width: 100%;
}

.portfolio-project-image {
	width: 100%;
	height: 237px;
	background-position: center;
	background-repeat: no-repeat;
	transition: 0.4s;
	position: relative;
}

.portfolio-project-image::after, .post-image::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000000;
	opacity: 0;
	transition: 0.3s;
	z-index: 1;
}

.portfolio-project-title {
	font-family: Raleway;
	color: #c7b29a;
	font-weight: 500;
	margin-top: 30px;
	margin-bottom: 14px;
	padding-left: 28px;
	position: relative;
}

.portfolio-project-title::before {
	content: "";
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 15px 10px 15px;
	border-color: transparent transparent #ffffff transparent;
	left: 19px;
	top: -40px;
	transition: 0.3s;
}

.portfolio-project-categories {
	color: #d1d1d1;
	font-size: 14px;
	padding-left: 28px;
}

.portfolio-project-icon {
	position: absolute;
	color: #ffffff;
	font-size: 24px;
	top: 4.41em;
	opacity: 0;
	transition: 0.3s;
	z-index: 2;
}

.portfolio-project-icon:hover {
	color: #c7b299;
}

.portfolio-project-icon.fa-link {
	left: 6em;
}

.portfolio-project-icon.fa-search {
	right: 6em;
}

.portfolio-btn:hover {
	background-color: #726255;
	color: #ffffff;
	border-bottom: 3px solid #726255;
}

/* S-video-presentation */

.s-video-presentation {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 23.7vh 0;
	color: #ffffff;
	text-align: center;
	font-size: 10px;
}

.video-title {
	font-family: Raleway;
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 29px;
}

.video-duration {
	color: #c7b299;
	font-size: 14px;
	font-weight: 400;
}

.video-description {
	width: 768px;
	margin: 0 auto;
	margin-bottom: 40px;
	font-size: 16px;
}

.video-play-button {
	margin: auto;
	width: 7em;
	height: 7em;
	border-radius: 50%;
	border: .4em solid #ffffff;
	display: flex;
	padding-left: .5em;
	box-shadow: 0 0 0 1.5em rgba(0, 0, 0, 0.2);
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.2);
	margin-bottom: 4em;
	outline: none;
	transition: .3s;
	font-size: 10px;
}

.video-play-button:hover {
	transform: scale(1.06);
	box-shadow: 0 0 0 1em rgba(0, 0, 0, 0.2);
}

.video-play {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 1.6em 0 1.6em 2.3em;
	border-color: transparent transparent transparent #ffffff;
	margin: auto;
	transition: .3s;
}

.video-play-button:hover .video-play {
	transform: scale(.94);
}

.mfp-close {
}

/* S-excellent */

.s-excellent {
	display: flex;
	color: #8c8c8c;
	justify-content: center;
	align-items: center;
}

.excellent-photo {
	width: 423px;
	height: 616px;
	margin-right: 31px;
	margin-top: 79px;
	background-repeat: no-repeat;
	background-position: 0 65px;
	transition: .4s ease-out;
	cursor: pointer;
}

.excellent-photo:hover {
	background-position: 0 0;
}

.excellent-text {
	width: 695px;
}

.excellent-title {
	font-family: Raleway;
	color: #555555;
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 40px;
}

.excellent-list {
	padding-left: 50px;
	margin-top: 40px;
}

.excellent-list-item {
	margin-bottom: 5px;
	padding-left: 46px;
}

.excellent-item-arrow {
	display: inline-block;
	background-color: #c7b299;
	width: 21px;
	height: 21px;
	color: #ffffff;
	text-align: center;
	line-height: 21px;
	border-radius: 50%;
	margin-right: 25px;	
	margin-left: -46px;
}

/* S-counts */

.s-counts {
	padding-top: 65px;
	padding-bottom: 55px;
	background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
	color: #c7b299;
	text-align: center;
}

.counts {
	display: inline-flex;
	justify-content: space-between;
}

.count {
	width: 187.2px;
	font-size: 10px;
}

.count-icon {
	font-size: 42px;
	margin-bottom: 23px;
}

.count-number {
	font-size: 48px;
	font-weight: 200;
	color: #fff;
	line-height: 1;
	margin-bottom: 15px;
}

.count-text {
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 23px;
}

.count-dash {
	background-color: #ffffff;
	width: 30px;
	height: 2px;
	margin: 0 auto;
}

/* S-posts */

.s-posts {
	padding-top: 50px;
	padding-bottom: 85px;
}

.posts-title {
	font-family: Raleway;
	color: #555;
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 30px;
}

.posts-text {
	color: #8c8c8c;
	text-align: center;
	width: 757px;
	margin: 0 auto;
	margin-bottom: 40px;
}

.posts-carousel {
	width: 1170px;
	margin: 0 auto;
}

.post {
	position: relative;
	padding-bottom: 33px;
	width: 100%;
	transition: .3s;
	cursor: pointer;
}

.post:hover .post-day {
	background-color: #c7b299;
}

.post:hover .post-month {
	background-color: #a48d72;
}

.post-date {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 50px;
	border-radius: 3px;
	text-align: center;
}

.post-day {
	color: #fff;
	font-size: 24px;
	background-color: #363636;
	height: 35px;
	line-height: 35px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	transition: .3s;
}

.post-month {
	font-family: Roboto;
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	background-color: #252525;
	height: 25px;
	line-height: 25px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	transition: .3s;
}

.post-image {
	width: 100%;
	height: 220px;
	cursor: pointer;
	transition: .4s;
	background-size: cover;
	background-position: center;
}

.post-title {
	font-family: Raleway;
	color: #555;
	font-size: 20px;
	font-weight: 500;
	padding-left: 7.8%;
	margin-bottom: 19px;
	margin-top: 30px;
	line-height: 1.25;
}

.post-text {
	color: #8c8c8c;
	font-size: 14px;
	padding-left: 7.8%;
	margin-bottom: 27px;
}

.post-read-more {
	color: #c7b299;
	font-size: 14px;
	padding-left: 7.8%;
	cursor: pointer;
}

.posts-carousel .owl-nav {
	height: auto;
	position: absolute;
	display: inline-block;
	margin: 0 auto;
	left: 50%;
	bottom: -35px;
	margin-left: -26px;
}

.posts-carousel .owl-nav > * {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	border: 1.5px solid #c7b299 !important;
	outline: none;
	color: #c7b299 !important;
	line-height: 22px !important;
	text-align: center;
	transition: .4s transform;
}

.posts-carousel .owl-nav > *:active {
	transform: scale(1.2);
	line-height: 20px;
}

.posts-carousel .owl-prev {
	margin-right: 8px;
}

/* S-partners */

.s-partners {
	padding: 140px 0;
}

.partners-carousel {
	width: 1170px;
	margin: 0 auto;
}

.partner {
	width: 210px;
	height: 210px;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
}

/* S-sub-footer */

.s-sub-footer {
	background-color: #191919;
	color: #636363;
	font-size: 14px;	
	padding: 80px 0;
}

.sub-footer-wrap {
	width: 1170px;
	margin: 0 auto;
	display: flex;
}

.footer-column {
	padding-top: 28px;
	width: 25%;
	margin-right: 2.5%;
}

.footer-column:last-child {
	margin-right: 0;
}

.s-sub-footer h3 {
	font-family: Raleway;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 33px;
}

.footer-date {
	color: #444444;
	font-size: 12px;
	transition: .3s;
}

.footer-column-waxom {
	padding-top: 0;
}

.footer-logo {
	display: flex;
	margin-bottom: 29px;
}

.footer-waxom {
	color: #fff;
}

.footer-waxom-text {
	margin-bottom: 33px;
}

.footer-triangle {
	border-color: transparent transparent #d1d1d1 transparent;
	transition: .3s;
}

.footer-read-more {
	display: inline-block;
	cursor: pointer;
	color: #d1d1d1;
	font-weight: 400;
	transition: .3s;
}

.footer-read-more:hover {
	color: #fff;
}

.footer-read-more:hover .footer-triangle {
	border-color: transparent transparent #fff transparent;
}

.footer-post, .twitter-post {
	border-bottom: 2px solid #252525;
}

.footer-post:last-child, .twitter-post:last-child {
	border-bottom: none;
}

.footer-post, .twitter-post {
	padding: 21px 0;
	cursor: pointer;
	transition: .3s;
}

.footer-post:hover, .twitter-post:hover {
	color: #c7b299;
}

.footer-post:hover .footer-date, .twitter-post:hover .footer-date {
	color: #fff;
}

.footer-post:first-child, .twitter-post:first-child {
	padding-top: 0;
}

.footer-post:last-child, .twitter-post:last-child {
	padding-bottom: 0;
}

.waxom-colored, .envato {
	color: #00bff3;
}

.bitly {
	color: #959595;
}

.widget-images {
	display: flex;
	flex-wrap: wrap;
}

.widget-image {
	display: inline-block;
	width: 47%;
	height: 98px;
	margin-bottom: 10px;
	cursor: pointer;
	transition: .3s;
	background-position: center;
	background-size: cover;
}

.widget-image:hover {	
  box-shadow: 0px 0px 0px 2px #fff;
}

.widget-image:nth-child(odd) {
	margin-right: 10px;
}

/* Footer */

.footer {
	background-color: #111;
	color: #636363;
	font-size: 13px;
	padding-top: 45px;
	padding-bottom: 52px;
}

.main-footer-wrap {
	width: 1170px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.main-footer-wrap > * > * {
	display: inline-block;
	padding: 0 10px;
	border-right: 1px solid #242424; 
	transition: .3s;
}

.main-footer-wrap > * > *:first-child {
	padding-left: 0;
}

.main-footer-wrap > * > *:last-child {
	border-right: none;
	padding-right: 0;
}

.footer-left-column > *:hover {
	color: #c7b299;
	cursor: pointer;
}

.footer-left-column > *:first-child:hover {
	color: inherit;
	cursor: auto;
}

.main-footer-waxom, .main-footer-envato {
	color: #959595;
}

/* Preloader */

#hellopreloader_preload { 
	display: block;
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-width: 1px;
	background: #322A29 url(../img/puff.svg) center center no-repeat;
	background-size: 41px;
}