@media only screen and (max-width: 1600px) {
	.right {
		width: 26.72rem;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

	header, section {
		background-attachment: scroll;
	}

	nav li a:hover::after {
	-webkit-transform: scale(0);
	    -ms-transform: scale(0);
	        transform: scale(0);
	}

	h1 {
		font-size: 13rem;
	}

	.power {
		font-size: 2rem;
		letter-spacing: 1.9rem;
	}
	
	.head-caption {
		margin: auto;
	}

	.awesome-section, .team-section {
		padding: 17rem 0 1rem 0;
		height: auto;
	}

	.features, .articles, .team-members {
		width: 65%;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.awesome-section .icon {
		width: 3.91em; 
		height: 3.91em; 
		line-height: 3.91em; 
	}

	.feature {
		width: 32rem;
		margin-bottom: 8.5rem;
	}

	.feature:nth-child(even) {
		margin-right: 0;
	}

	.feature h3 {
		margin-top: 1.13em;
		margin-bottom: 1.13em;
	}

	.feature p, .feature h3 {
		font-size: 1.65rem;
	}

	.akita-section .picture:hover {
		-webkit-transform: none;
		    -ms-transform: none;
		        transform: none;
	}

	.blog-section {
		padding: 17rem 0 1rem 0;
		height: auto;
	}

	article {
		margin-bottom: 9rem;
		width: 30rem;
	}

	article:nth-child(even) {
		margin-right: 0;
	}

	.articles article .picture {
		width: 100%;
		height: 31.1rem;
	}

	article h3, article p {
		font-size: 1.65rem;
	}

	.check-section {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding: 8.4rem 9.6rem;
	}

	.check {
		margin-right: 0 !important;
	}

	.check:first-child {
		margin-bottom: 10rem;
	}

	form {
		width: 90.43%;
	}	

	input[type="text"] {
		width: 31.184%;
		margin-right: 2.58%;
	}

	input[name="phone"] {
		margin-right: 0;
	}

	.form-section textarea {
		width: 100%;
	}

}


@media only screen and (max-width: 1056px) {

	.logo {
		position: absolute;
    left: 44.5%;
	}

	.socials {
		position: absolute;
    right: 0%;
	}

	nav {
		position: fixed;
		top: 0;
		left: 0;
		-webkit-transform: translateX(-100%);
		    -ms-transform: translateX(-100%);
		        transform: translateX(-100%);
		width: 28rem;
		height: 100vh;
		-webkit-transition: .6s;
		-o-transition: .6s;
		transition: .6s;
		background-color: #212529;
		z-index: 7;
	}

	nav.active {
		-webkit-transform: none;
		    -ms-transform: none;
		        transform: none;
	}

	nav li {
		display: block;
		line-height: 5rem;
		height: 5rem;
		width: 100%;
		margin-left: 0;
	}

	nav li a {
		text-align: left;
		padding-left: 1.5em;
		height: 100%;
		font-size: 1.7rem;
		-webkit-transition: .3s;
		-o-transition: .3s;
		transition: .3s;
	}

	nav li a:active {
		background-color: #111;
	}

	nav li a.active {
		background-color: #111;
	}

	.hamburger {
		display: block;
		-webkit-transition: .6s transform;
		-o-transition: .6s transform;
		transition: .6s transform;
	}

	.hamburger.is-active  {
		position: fixed;
		z-index: 7;
		-webkit-transform: translateX(28rem);
		    -ms-transform: translateX(28rem);
		        transform: translateX(28rem);
	}

	.head-top {
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}

	.features, .articles {
		width: 70%;
	}

	footer {
		padding-left: 5%;
		padding-right: 5%;
	}

	.dark {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: .5;
		z-index: -1;
		-webkit-transition: .3s;
		-o-transition: .3s;
		transition: .3s;
	}

	.index {
		z-index: 6;
		background-color: #000;
	}

	body {
		position: relative;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {	
	
	.socials a {
		font-size: 2.5rem;
	}

	.awesome-section h2 {
		font-size: 3.4rem;
	}

	.awesome-section .icon {
		font-size: 3.8rem;
	}

	.features, .articles {
		width: 75%;
	}

	.feature p, .feature h3 {
		font-size: 1.8rem;
	}

	.first-row .text {
		padding: 4.34% 6.3% 0 5.5%;
	}

	.second-row .text {
		padding: 5.56% 7.4% 0 4.13%;
	}

	.date {
		font-size: 1.45rem;
	}

	.akita-section p {
		font-size: 1.6rem;
	}

	article h3, article p {
		font-size: 1.8rem;
	}

	.check p {
		font-size: 1.6rem;
	}

	.check .icon {
		font-size: 8.5rem;
	}

	.check-section {
		height: 37rem;
	}

	.left p {
		font-size: 1.6rem;
		margin-bottom: 7.8rem;
	}

	.team-members {
		width: 70%;
	}

	.name {
		font-size: 2.2rem;
	}

	.position {
		font-size: 1.65rem;
	}

	.skills-section {
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		height: auto;
		padding: 8rem 0 6rem;
	}

	.skills-section h3 {
		font-size: 2.7rem;
	}

	.left {
		margin-bottom: 6.5rem;
	}
	
	.scroll {
		margin-bottom: 8.5rem;
	}

}

@media only screen and (max-width: 915px) {
	
	.features, .articles {
		width: 78%;
	}

	.team-members {
		width: 75%;
	}

}

@media only screen and (max-width: 890px) {

	.form-section .bg-letter {
		top: 14rem;
	}

}

@media only screen and (max-width: 880px) {
	
	.features, .articles {
		width: 82%;
	}

}

@media only screen and (max-width: 840px) {

	h1 {
		font-size: 11.5rem;
	}

	.power {
    font-size: 1.7rem;
    letter-spacing: 1.75rem;
	}
	
	.features, .articles {
		width: 84%;
	}	

	.team-members {
		width: 80%;
	}

}

@media only screen and (max-width: 817px) {
	
	.features, .articles {
		width: 90%;
	}

	.love, .sales {
		width: 87%;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {	

	.awesome-section, .blog-section {
		padding: 17rem 0 9rem 0;
	}

	.owl-carousel {
		width: 50% !important;
		position: relative;
	}

	.owl-item {
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.owl-carousel .feature {
		margin-bottom: 0;
	}

	.owl-nav {
		position: absolute;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		width: 116%;
    left: -8%;
		top: 50%;
		margin-top: -3.3rem;
	}

	.owl-nav button {
		background-color: transparent !important;
		outline: none;
		margin-left: -2.1rem !important;
		border: 0.1rem solid #fff !important;
		border-radius: 50% !important;
		width: 5rem;
		height: 5rem;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-align-items: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}

	.owl-nav button:active {
		-webkit-transform: scale(1.05);
		    -ms-transform: scale(1.05);
		        transform: scale(1.05);
		-webkit-transition: .2s;
		-o-transition: .2s;
		transition: .2s;
	}

	.owl-next {
		margin-right: -2.1rem !important;
	}

	.owl-nav button span {
		display: block;
		background: url(../img/next.svg);
		background-size: cover;
		width: 2rem;
		height: 2rem;
	}

	.owl-prev span {
		-webkit-transform: scale(-1, 1);
		    -ms-transform: scale(-1, 1);
		        transform: scale(-1, 1);
	}

	.owl-theme .owl-dots .owl-dot {
		outline: none;
		cursor: pointer;
	}

	.owl-theme .owl-dots .owl-dot span {
		width: 1.3rem !important;
		height: 1.3rem !important;
	}

	.owl-stage-outer {
		margin-bottom: 1rem;
	}

	.feature p {
		width: 85%;
		text-align: center;
	}

	.first-row, .second-row {
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
	}

	.akita-section .picture, .akita-section .text {
		height: 35rem;
	}

	.first-row .text, .second-row .text {
		width: auto;
		padding: 7.34% 7.3% 0 5.5%;
	}

	.second-row {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}

	.blog-section {
		padding: 17rem 0 7rem 0;
	}

	.love {
		margin-bottom: 5rem;
	}

	.articles .owl-nav button, .team-members .owl-nav button {
		border-color: #000 !important;
	}

	.articles .owl-nav button span, .team-members .owl-nav button span {
		background-image: url(../img/next-black.svg);
	}

	.articles article {
		width: 27rem;
	}

	.articles article .picture {
    width: 100%;
    height: 28rem;
    margin-bottom: 3.5rem;
	}

	.articles article h3 {
		margin-bottom: 1.5rem;
	}

	.articles .owl-stage-outer, .articles .owl-nav {
		margin-bottom: 0;
	}

	.articles .owl-dots {
		margin-top: -12rem;
	}

	.team-section {
		padding: 17rem 0 6rem 0;
	}

	.team-section h2 {
		margin-bottom: 12rem;
	}

	.sales {
		margin-bottom: 5rem;
	}

	.team-member {
		padding-bottom: 0;
	}

	.team-member-description {
		height: 10rem;
	}

	.form-section {
		padding-top: 15.4rem;
    padding-bottom: 6rem;
	}

	.form-section .bg-letter {
		top: 7rem;
	}

	form {
		width: 85%;
	}

	input[type="text"] {
		width: 100%;
	}

	.articles .owl-dots {
		-webkit-transform: translateY(4rem);
		    -ms-transform: translateY(4rem);
		        transform: translateY(4rem);
	}

}

@media only screen and (max-width: 720px) {

	h1 {
		font-size: 10rem;
	}

	.power {
		font-size: 1.6rem;
		letter-spacing: 1.45rem;
	}

	.bg-letter {
		font-size: 20rem;
		top: 8rem;
	}

	.form-section .bg-letter {
		font-size: 24.7rem;
	}

}

@media only screen and (max-width: 635px) {

	h1 {
		font-size: 9rem;
	}

	.power {
    font-size: 1.4rem;
    letter-spacing: 1.3rem;
	}

	.owl-carousel {
		width: 60% !important;
	}

	form {
		width: 90%;
	}

	footer {
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		-ms-align-items: flex-start;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		padding: 2rem 0 2.5rem 3.5rem;
	}

}

@media only screen and (max-width: 600px) {

	.check-section {
		height: auto;
		padding: 5rem 0 24rem 0;
	}

	.check {
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		        flex-direction: column;
		width: 75%;
	}

	.check:first-child {
		margin-bottom: 29rem;
	}

	.check .icon {
		margin-right: 0;
		margin-bottom: 2rem;
	}

	.check p {
		font-size: 1.8rem;
		text-align: justify;
	}

}

@media only screen and (max-width: 585px) {

	.awesome-section, .blog-section {
    padding: 13rem 0 9rem 0;
	}

	.awesome-section h2 {
		width: 97%;
		text-align: center;
	}

	.awesome-section .bg-letter, .blog-section .bg-letter {
		top: 4.5rem;
	}

	.features {
		margin-top: 12.5rem;
	}

	.akita-section .text {
		height: auto;
	}

	.blog-section {
		padding: 13rem 0 6rem 0;
	}

}

@media only screen and (max-width: 565px) {

	.logo {
		left: 42.5%;
	}

	.cs, .logo-border {
		height: 5.5rem;
		width: 5.5rem;
		line-height: 5.5rem;
		font-size: 2.5rem;
	}

	.logo-border {
		top: -4.7rem;
	}

	.socials a {
		font-size: 2.1rem;
		margin-right: 1.8rem;
	}

	h1 {
		font-size: 8rem;
	}

	.power {
    font-size: 1.3rem;
    letter-spacing: 1.15rem;
  }

  .owl-nav {
  	width: 126%;
    left: -13%;
  }

}

@media only screen and (max-width: 510px) {

	.left {
		width: 100%;
		padding: 0 1.5rem 0 2rem;
	}

	.skills-section-description {
		width: 100%;
	}

}

@media only screen and (max-width: 500px) {
	
	h1 {
		font-size: 7.5rem;
	}

	.power {
    font-size: 1.2rem;
    letter-spacing: 1.1rem;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
	
	.awesome-section, .blog-section {
		padding: 11rem 0 7rem 0;
	}

	.awesome-section .bg-letter, .blog-section .bg-letter {
		top: 3.5rem;
	}

	.features {
		margin-top: 11rem;
	}

	.head-top {
		height: 8rem;
	}

	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
		width: 3.7rem;
		height: .3rem;
	}

	.logo {
		top: .8rem;
	}

	h1 {
		font-size: 7.5rem;
	}

	.power {
    font-size: 1.25rem;
    letter-spacing: .9rem;
	}

	.check:first-child {
    margin-bottom: 25rem;
	}

	.team-section {
    padding: 12rem 0 6rem 0;
	}

	.team-section .bg-letter {
		top: 3rem;
	}

	.team-section h2 {
    margin-bottom: 9.5rem;
	}

	.form-section {
		padding-top: 12.4rem;
    padding-bottom: 4rem;
	}

	.form-section .bg-letter {
    top: 4rem;
	}

	.form-section h2 {
		margin-bottom: 11rem;
	}

}

@media only screen and (max-width: 450px) {

	h1 {
		font-size: 7rem;
	}

	.socials {
		width: 7.2rem;
		top: 1.4rem;
	}

	.socials a {
		display: inline-block;
		margin-bottom: 1.3rem;
		width: 1.8rem;
	}

	.form-section h2 {
		margin-bottom: 8rem;
	}

	#map {
		height: 30rem;
	}

	.feature p, .feature h3, article h3, article p, .check p {
    font-size: 1.6rem;
	}

	.features {
		margin-top: 9rem;
		width: 65% !important;
	}

	.awesome-section {
		padding-bottom: 4rem;
	}

	.features .owl-nav {
    width: 110%;
    left: -5%;
	}

	.check-section {
    height: auto;
    padding: 3rem 0 19rem 0;
	}

	.check:first-child {
    margin-bottom: 20rem;
	}

	.awesome-section .icon {
    font-size: 3rem;
	}

	.blog-section {
    padding: 8rem 0 7rem 0;
	}

	.team-section {
		padding: 9rem 0 4rem 0;
	}

	 .blog-section .bg-letter, .team-section .bg-letter {
    top: 0.5rem;
	}

	.blog-section h2, .team-section h2 {
		margin-bottom: 9rem;
	}

	.love {
		margin-bottom: 3rem;
	}

	.skills-section {
		padding: 6rem 0 4rem;
	}

	.left {
		margin-bottom: 2.5rem;
	}

	.left p {
		margin-bottom: 4.8rem;
	}

}

@media only screen and (max-width: 430px) {

	.power {
    font-size: 1.15rem;
    letter-spacing: .85rem;
	}

	footer {
		font-size: 1.4rem;
		padding: 2rem 0 2.5rem 1.5rem;
	}

	.bee {
		background-size: cover;
		height: 2.1rem;
	}

}

@media only screen and (max-width: 415px) {

	h1 {
		font-size: 6.6rem;
	}

	.blog-section {
    padding: 9rem 0 7rem 0;
	}

	.blog-section .bg-letter {
		top: 1.5rem;
	}

	.blog-section h2 {
		margin-bottom: 10rem;
	}

	.check:first-child {
    margin-bottom: 25.5rem;
	}

	.team-member-photo {
		height: 40rem;
	}

	.form-section textarea {
		margin-bottom: 3rem;
	}

	.form-section {
		padding-bottom: 3rem;
	}

}

@media only screen and (max-width: 400px) {

	h1 {
		font-size: 6rem;
	}

	.power {
    font-size: 1.05rem;
    letter-spacing: .8rem;
	}

	.owl-nav {
    width: 130%;
    left: -15%;
	}

	article .picture {
		height: 25rem !important;
	}

	.left {
		margin-bottom: 4.5rem;
	}

	.left p {
		margin-bottom: 5rem;
	}

}

@media only screen and (max-width: 389px) {

	.skill {
		font-size: 1.4rem;
	}

	.team-member-photo {
		height: 38rem;
	}

	.team-member-description {
		width: 19.5rem;
	}

}

@media only screen and (max-width: 375px) {

	h1 {
		font-size: 5.5rem;
	}

	.power {
    font-size: 1rem;
    letter-spacing: .7rem;
	}

	article .picture {
		height: 23rem !important;
	}

	.check {
		width: 85%;
	}

	.team-member-photo {
		height: 36rem;
	}

	.form-section {
    padding-top: 10.4rem;
  }

  input[type="text"] {
  	height: 4.5rem;
  	padding-left: 1.5rem;
  }

  .form-section textarea {
  	padding-left: 1.5rem;
  	height: 14rem;
  }

  .right {
    width: 24.72rem;
	}

}

@media only screen and (max-width: 369px) {
	.skill {
		font-size: 1.3rem;
		padding: 1.1rem 1.4rem;
	}
}

@media only screen and (max-width: 359px) {

	.awesome-section .bg-letter {
		top: 6rem;
	}

	.features {
		margin-top: 8rem;
	}

	.feature p, .feature h3, article h3, article p {
    font-size: 1.6rem;
	}

	.awesome-section .icon {
    font-size: 3.5rem;
	}

	article .picture {
		height: 22rem !important;
	}

}
@media only screen and (max-width: 345px) {

	h1 {
		font-size: 5.2rem;
	}

	.power {
    font-size: 1rem;
    letter-spacing: .6rem;
	}

	nav {
		width: 26.5rem;
	}

	.hamburger.is-active {
    -webkit-transform: translateX(26rem);
        -ms-transform: translateX(26rem);
            transform: translateX(26rem);
	}

	.logo {
		left: 41%;
	}

	article .picture {
		height: 19.9rem !important;
	}

	.check-section {
		padding: 5rem 0 0rem 0;
	}

	.check {
		margin-bottom: 22.5rem;
	}

	.check p {
		font-size: 1.6rem;
	}

	.check .icon {
		font-size: 8rem;
	}

	.awesome-section {
		padding: 11rem 0 5rem 0;
	}

	.team-member-photo {
		height: 34rem;
	}

	.team-member-description {
		width: 18rem;
	}

	input[type="submit"] {
		width: 20.7rem;
    height: 5.4rem;
	}

	#map {
		height: 25rem;
	}

}

@media only screen and (max-width: 335px) {

	.skill {
		font-size: 1.2rem;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
	
	.skill {
	  padding: .9rem 1.4rem;
	}

	.team-member-photo {
		height: 31rem;
	}

}
